pre { line-height: 125%; }
td.linenos .normal { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #c9d1d9; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #c9d1d9; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
body .hll { background-color: #6e7681 }
body { background: #0d1117; color: #c9d1d9 }
body .c { color: #8b949e; font-style: italic }
body .err { color: #f85149 }
body .esc { color: #c9d1d9 }
body .g { color: #c9d1d9 }
body .k { color: #ff7b72 }
body .l { color: #a5d6ff }
body .n { color: #c9d1d9 }
body .o { color: #ff7b72; font-weight: bold }
body .x { color: #c9d1d9 }
body .p { color: #c9d1d9 }
body .ch { color: #8b949e; font-style: italic }
body .cm { color: #8b949e; font-style: italic }
body .cp { color: #8b949e; font-weight: bold; font-style: italic }
body .cpf { color: #8b949e; font-style: italic }
body .c1 { color: #8b949e; font-style: italic }
body .cs { color: #8b949e; font-weight: bold; font-style: italic }
body .gd { color: #ffa198; background-color: #490202 }
body .ge { color: #c9d1d9; font-style: italic }
body .gr { color: #ffa198 }
body .gh { color: #79c0ff; font-weight: bold }
body .gi { color: #56d364; background-color: #0f5323 }
body .go { color: #8b949e }
body .gp { color: #8b949e }
body .gs { color: #c9d1d9; font-weight: bold }
body .gu { color: #79c0ff }
body .gt { color: #ff7b72 }
body .g-Underline { color: #c9d1d9; text-decoration: underline }
body .kc { color: #79c0ff }
body .kd { color: #ff7b72 }
body .kn { color: #ff7b72 }
body .kp { color: #79c0ff }
body .kr { color: #ff7b72 }
body .kt { color: #ff7b72 }
body .ld { color: #79c0ff }
body .m { color: #a5d6ff }
body .s { color: #a5d6ff }
body .na { color: #c9d1d9 }
body .nb { color: #c9d1d9 }
body .nc { color: #f0883e; font-weight: bold }
body .no { color: #79c0ff; font-weight: bold }
body .nd { color: #d2a8ff; font-weight: bold }
body .ni { color: #ffa657 }
body .ne { color: #f0883e; font-weight: bold }
body .nf { color: #d2a8ff; font-weight: bold }
body .nl { color: #79c0ff; font-weight: bold }
body .nn { color: #ff7b72 }
body .nx { color: #c9d1d9 }
body .py { color: #79c0ff }
body .nt { color: #7ee787 }
body .nv { color: #79c0ff }
body .ow { color: #ff7b72; font-weight: bold }
body .pm { color: #c9d1d9 }
body .w { color: #6e7681 }
body .mb { color: #a5d6ff }
body .mf { color: #a5d6ff }
body .mh { color: #a5d6ff }
body .mi { color: #a5d6ff }
body .mo { color: #a5d6ff }
body .sa { color: #79c0ff }
body .sb { color: #a5d6ff }
body .sc { color: #a5d6ff }
body .dl { color: #79c0ff }
body .sd { color: #a5d6ff }
body .s2 { color: #a5d6ff }
body .se { color: #79c0ff }
body .sh { color: #79c0ff }
body .si { color: #a5d6ff }
body .sx { color: #a5d6ff }
body .sr { color: #79c0ff }
body .s1 { color: #a5d6ff }
body .ss { color: #a5d6ff }
body .bp { color: #c9d1d9 }
body .fm { color: #d2a8ff; font-weight: bold }
body .vc { color: #79c0ff }
body .vg { color: #79c0ff }
body .vi { color: #79c0ff }
body .vm { color: #79c0ff }
body .il { color: #a5d6ff }
