* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*:not(iframe, body) {
    transition: all 0.4s 0.2s cubic-bezier(1, 0.14, 0.01, 1.5), width 1s, color .2s;
}
body {
    min-height: 100vh;
    background-color: #424242;
    padding: 5px;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header {
    z-index: 1;
    display: flex;
    gap: 30px;
    background-color: #0005;
    border-radius: 100px;
    padding: 10px;
    align-items: center;
    font-size: large;
    border-left: #535353 2px solid;
    border-top: #535353 2px solid;
}
.cursor {
    z-index: 0;
    position: absolute;
    content: "";
    height: 50px;
    width: var(--W);
    background-color: #eee;
    border-radius: 10px;
    margin-left: var(--M);
    transition: all 0.2s ease-in-out;
}
header:hover > .cursor {
    width: calc(var(--W) + 20px);
    margin-left: calc(var(--M) - 10px);
    border-radius: 100px;
    height: 52px;
}
span:not(.cursor) {
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#page {
    display: flex;
    width: 200vw;
    flex: 1;
    flex-direction: row;
    overflow: auto;
    transition: none;
}

iframe {
    width: 100vw;
    transition: all 0.4s 0.2s
}
