*{
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    position: sticky;
    top: 20px;
}
#avatar {
    position: absolute;
    right: 0;
    height: 75%;
}